# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\melvy\Desktop\Application\Drive\HEIG_VD\3em semestre\ASD2\Projet\ASD2_projet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
